<div class="page-header">
<h1>Wishboard - дошка жаданняў</h1>
</div>
<div class="jumbotron">
<p>Гэта праект для пошуку тых, хто можа вам дапамагчы ў выкананні вашых жаданняў.</p>
</div>
<div class="page-header">
<h1>Жаданні</h1>
</div>
<p>Раздзел для публікацыі вашых жаданняў.</p>




