<div class="page-header">
  <h2><%= @wish.user_name %></h2>
  <q><%= @wish.feedback %></q>
</div>
<% if session[:mentor_id] %>
    <%= link_to 'delete', @wish, method: :delete, class: 'btn btn-danger',
                data: { confirm: "You sure?" } %>
<% end %>



